@import './../../../../styles.scss';

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;

    @include setFlex();
}

.headerContent {
    @include setFlex($jc: space-between);

}

nav {
    @include setFlex($jc: space-between);
    flex: 1;
}

.navLink {
    color: $clrBaseBright;
}