<header>
    <div class="contentLimit headerContent">
        <div class="logoHeaderContainer">
            <a routerLink="">
                <svg class="logoSVG" width="60" height="60" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Rechtecke mit unterschiedlichen Größen, aber insgesamt ein Quadrat, skaliert auf 60px -->
                    <rect x="3" y="3" width="15" height="15" fill="#f7c518" />
                    <rect x="18" y="3" width="18" height="12" fill="#3355ff" />
                    <rect x="36" y="3" width="12" height="18" fill="#f87a55" />

                    <rect x="3" y="18" width="12" height="18" fill="#3355ff" />
                    <rect x="18" y="18" width="15" height="15" fill="#f87a55" />
                    <rect x="36" y="18" width="18" height="12" fill="#f7c518" />

                    <rect x="3" y="36" width="18" height="12" fill="#f87a55" />
                    <rect x="18" y="36" width="12" height="18" fill="#f7c518" />
                    <rect x="36" y="36" width="15" height="15" fill="#3355ff" />

                    <defs>
                        <filter id="f1" x="-50%" y="-50%" width="200%" height="200%">
                            <feDropShadow dx="1" dy="1" stdDeviation="1" flood-color="black" />
                        </filter>
                    </defs>

                    <!-- Text mit Drop-Shadow -->
                    <text x="45%" y="50%" font-size="35" text-anchor="middle" alignment-baseline="middle" fill="white"
                        font-family="Kalam" font-weight="700" letter-spacing="3px" filter="url(#f1)">MG</text>
                </svg>
            </a>



        </div>
        <nav>
            <div id="navAboutMeContainer" class="navLinkContainer">
                <!-- TODO:give div backgroundimage which will displayd via hover -->
                <a class="navLink" href="#">About me</a>
            </div>
            <div id="navSkillsContainer" class="navLinkContainer">
                <!-- TODO:give div backgroundimage which will displayd via hover -->
                <a class="navLink" href="#">Skills</a>
            </div>
            <div id="navProjectsContainer" class="navLinkContainer">
                <!-- TODO:give div backgroundimage which will displayd via hover -->
                <a class="navLink" href="#">Projects</a>
            </div>
            <div id="navContactContainer" class="navLinkContainer">
                <!-- TODO:give div backgroundimage which will displayd via hover -->
                <a class="navLink" href="#">Contact</a>
            </div>
        </nav>
        <div class="languageSwitchContainer"></div>
    </div>
</header>