@import './../../../../styles.scss';

@media (max-width: 767px) {
    .hamburgerContainer {
        display: block;
    }

    nav {
        display: none;
    }

    // .languageSwitchContainer {
    //     display: none;
    // }

    .languageToggleContainer {
        display: none;
    }
}