@import './../../../../styles.scss';

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;

    @include setFlex();
}

.headerContent {
    @include setFlex($jc: space-between);

}

.logoHeaderContainer {
    width: 110px;
    height: 110px;
    @include setFlex();
}

.logoSVG {
    transition: $stdTransition;

    &:hover {
        width: 110px;
        height: 110px;
        transform: rotate(4deg);
    }
}

.navLinkContainer {
    position: relative;
    transition: $stdTransition;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    @include setFlex();
    width: 110px;
    height: 50px;
}

.topDownContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
}

.leftRightContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
}

#fadeInImageAboutMe {
    width: 100%;
    height: 50px;
}

#fadeInImageSkills {
    width: 110px;
    height: 55px;
}

#fadeInImageProjects {
    width: 110px;
    height: 80px;
}

#fadeInImageContact {
    width: 110px;
    height: 55px;
}




nav {
    @include setFlex($jc: space-evenly);
    flex: 1;
}

.navLink {
    position: relative;
    z-index: 1;
    font-weight: 700;
    color: $clrBaseBright;
}