/*==================================================================================================== 
    Tablet
==================================================================================================== */
@media (min-width: 768px) and (max-width: 1023px) {}

/*==================================================================================================== 
    MOBILE L
==================================================================================================== */
@media (min-width: 425px) and (max-width: 767px) {
    .hamburgerContainer {
        display: block;
    }

    nav {
        display: none;
    }

    .languageSwitchContainer {
        display: none;
    }
}

/*==================================================================================================== 
    MOBILE M
==================================================================================================== */
@media (min-width: 375px) and (max-width: 424px) {
    .hamburgerContainer {
        display: block;
    }

    nav {
        display: none;
    }

    .languageSwitchContainer {
        display: none;
    }
}

/*==================================================================================================== 
    MOBILE S
==================================================================================================== */
@media (max-width: 374px) {
    .hamburgerContainer {
        display: block;
    }

    nav {
        display: none;
    }

    .languageSwitchContainer {
        display: none;
    }
}