<header>
    <div class="contentLimit headerContainer">
        <div class="logoHeaderContainer"></div>
        <nav>
            <div id="navAboutMeLink">
                <!-- TODO:give div backgroundimage which will displayd via hover -->
                <a class="navLink" href="#">About me</a>
            </div>
            <div id="navAboutMeLink">
                <!-- TODO:give div backgroundimage which will displayd via hover -->
                <a class="navLink" href="#">Skills</a>
            </div>
            <div id="navAboutMeLink">
                <!-- TODO:give div backgroundimage which will displayd via hover -->
                <a class="navLink" href="#">Projects</a>
            </div>
            <div id="navAboutMeLink">
                <!-- TODO:give div backgroundimage which will displayd via hover -->
                <a class="navLink" href="#">Contact</a>
            </div>
        </nav>
        <div class="languageSwitchContainer"></div>
    </div>
</header>