@import './variables';

h2 {
    font-size: $fsH2;
    font-weight: $fwH2;
}

h3 {
    font-size: $fsH3;
    font-weight: $fwH3;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.abtn {
    background-color: transparent;
    border-radius: $stdRadiusBtn;
    font-family: inherit;
    font-size: $fSDefaultBtn;
    font-weight: 500;
    padding: $stdPaddingBtn;
    transition: $stdTransition;
}

button {
    cursor: pointer;
    background-color: transparent;
    border-radius: $stdRadiusBtn;
    font-family: inherit;
    font-size: $fSDefaultBtn;
    font-weight: 500;
    padding: $stdPaddingBtn;
    transition: $stdTransition;

    &:disabled {
        cursor: default;
        color: $clrDisabled;
        border-top: 1px solid $clrDisabled;
        border-left: 1px solid $clrDisabled;
        border-bottom: 5px solid $clrDisabled;
        border-right: 4px solid $clrDisabled;

        &:hover {
            cursor: default;
            color: $clrDisabled;
            border-top: 1px solid $clrDisabled;
            border-left: 1px solid $clrDisabled;
            border-bottom: 5px solid $clrDisabled;
            border-right: 4px solid $clrDisabled;
            background-color: transparent;
        }
    }
}

.cta {
    color: $clrBaseBright;
    border-top: 1px solid $clrBaseBright;
    border-left: 1px solid $clrBaseBright;
    border-bottom: 5px solid $clrBaseBright;
    border-right: 4px solid $clrBaseBright;
    background-color: $clrHighlight3;

    &:hover {
        border: 1px solid $clrBaseBright;
        background-color: $clrHighlight2;
    }
}

.btnDefault {
    color: $clrBaseBright;
    border-top: 1px solid $clrBaseBright;
    border-left: 1px solid $clrBaseBright;
    border-bottom: 5px solid $clrBaseBright;
    border-right: 4px solid $clrBaseBright;
    transition: $stdTransition;

    &:hover {
        border: 1px solid $clrBaseBright;
        background-color: $clrHighlight3;
    }
}

.btnBlack {
    color: $clrBaseDark;
    border-top: 1px solid $clrBaseDark;
    border-left: 1px solid $clrBaseDark;
    border-right: 5px solid $clrBaseDark;
    border-bottom: 4px solid $clrBaseDark;

    &:hover {
        color: $clrBaseBright;
        border: 1px solid $clrBaseDark;
        background-color: $clrHighlight3;
    }
}

input,
textarea {
    font-family: 'Bricolage Grotesque', Arial, Helvetica, sans-serif;
    font-size: $fSSec;
    background-color: transparent;
    border: none;
    outline: none;
}

@media(max-width: 767px) {
    h2 {
        font-size: $fsMobileH2;
        font-weight: $fwMobileH2;
    }

    h3 {
        font-size: $fsMobileH3;
        font-weight: $fwMobileH3;
    }
}