@import './variables';

h2 {
    font-size: 64px;
    font-weight: 700;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border-radius: $stdRadiusBtn;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    padding: $stdPaddingBtn;
    transition: $stdTransition;
}

.cta {}

.btnDefault {
    color: $clrBaseBright;
    border-top: 1px solid $clrBaseBright;
    border-left: 1px solid $clrBaseBright;
    border-bottom: 5px solid $clrBaseBright;
    border-right: 4px solid $clrBaseBright;
    transition: $stdTransition;

    &:hover {
        transform: translate(3px, 4px);
        border: 1px solid $clrBaseBright;
        background-color: $clrHighlight3;
    }
}

.btnBlack {
    color: $clrBaseDark;
    border-top: 1px solid $clrBaseDark;
    border-left: 1px solid $clrBaseDark;
    border-right: 5px solid $clrBaseDark;
    border-bottom: 4px solid $clrBaseDark;

    &:hover {
        color: $clrBaseBright;
        transform: translate(3px, 4px);
        border: 1px solid $clrBaseDark;
        background-color: $clrHighlight3;
    }
}