@import './variables';

h2 {
    font-size: 64px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border-radius: $stdRadiusBtn;
    font-family: inherit;
    font-size: $fSDefaultBtn;
    font-weight: 500;
    padding: $stdPaddingBtn;
    transition: $stdTransition;
}

button:disabled {
    cursor: default;
    color: $clrDisabled;
    border-top: 1px solid $clrDisabled;
    border-left: 1px solid $clrDisabled;
    border-bottom: 5px solid $clrDisabled;
    border-right: 4px solid $clrDisabled;

    &:hover {
        cursor: default;
        color: $clrDisabled;
        border-top: 1px solid $clrDisabled;
        border-left: 1px solid $clrDisabled;
        border-bottom: 5px solid $clrDisabled;
        border-right: 4px solid $clrDisabled;
        background-color: transparent;
    }
}

.cta {
    color: $clrBaseBright;
    border-top: 1px solid $clrHighlight3;
    border-left: 1px solid $clrHighlight3;
    border-bottom: 5px solid $clrHighlight3;
    border-right: 4px solid $clrHighlight3;

    &:hover {
        border: 1px solid $clrBaseBright;
        background-color: $clrHighlight3;
    }
}

.btnDefault {
    color: $clrBaseBright;
    border-top: 1px solid $clrBaseBright;
    border-left: 1px solid $clrBaseBright;
    border-bottom: 5px solid $clrBaseBright;
    border-right: 4px solid $clrBaseBright;
    transition: $stdTransition;

    &:hover {
        border: 1px solid $clrBaseBright;
        background-color: $clrHighlight3;
    }
}

.btnBlack {
    color: $clrBaseDark;
    border-top: 1px solid $clrBaseDark;
    border-left: 1px solid $clrBaseDark;
    border-right: 5px solid $clrBaseDark;
    border-bottom: 4px solid $clrBaseDark;

    &:hover {
        color: $clrBaseBright;
        transform: translate(3px, 4px);
        border: 1px solid $clrBaseDark;
        background-color: $clrHighlight3;
    }
}

input,
textarea {
    font-family: 'Bricolage Grotesque', Arial, Helvetica, sans-serif;
    font-size: $fSSec;
    background-color: transparent;
    border: none;
    outline: none;
}