$clrBaseBright: #f8f9fa;
$clrBaseDark: #0e1013;
$clrHighlight1: #f7c518;
$clrHighlight2: #3355ff;
$clrHighlight3: #f87a55;

$stdRadiusBtn: 100px;
$stdPaddingBtn: 12px 24px;

$stdTransition: all 200ms ease-in-out;

$fSDefault: 20px;
$fSDefaultBtn: 18px;
$fWDefault: 400;