$clrBaseBright: #f8f9fa;
$clrBaseDark: #0e1013;
$clrHighlight1: #f7c518;
$clrHighlight2: #3355ff;
$clrHighlight2Transparent: #3355FF4D;
$clrHighlight3: #f87a55;
$clrErrorMessage: #FF3A00;
$clrDisabled: #7d7d7e;

$stdRadiusBtn: 100px;
$stdPaddingBtn: 12px 24px;

$stdTransition: all 200ms ease-in-out;

$fSDefault: 20px;
$fSSec: 18px;
$fSDefaultBtn: 18px;
$fWDefault: 400;