@import './../../../../src/styles.scss';

#projectsSection {
    @include setFlex();
    margin-top: 64px;
}

#projectsSectionContent {
    @include setFlex($ai: flex-start, $gap: 64px);
    flex-wrap: wrap;
    width: 100%;
}

.projectContainer {
    @include setFlex();
    width: 40%;
}

app-description-overview {
    align-self: center;
}