@import './../../../../src/styles.scss';

#projectsSection {
    @include setFlex();
    margin-top: 64px;
}

#projectsSectionContent {
    @include setFlex($gap: 64px);
    flex-wrap: wrap;
    width: 100%;
}

.projectContainer {
    @include setFlex();
    width: 40%;
}