<section id="contactMeSection">
    <div id="contactMeSectionContent" class="contentLimit">
        <div class="sealContainer">
            <svg width="170" height="170" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                <!-- Kreis mit Hintergrundbild -->
                <defs>
                    <pattern id="bgPattern" patternUnits="userSpaceOnUse" width="200" height="200">
                        <image href="./assets/images/03_Stickers/00_Round/01_Color option 1- Orange.png" width="200"
                            height="200" />
                    </pattern>
                </defs>
                <circle cx="100" cy="100" r="100" fill="url(#bgPattern)" />
                <!-- Umlaufender Text mit mehr Abstand zum Rand -->
                <defs>
                    <path id="textPath" d="M 100,100 m -75,0 a 75,75 0 1,1 150,0 a 75,75 0 1,1 -150,0" />
                </defs>
                <text font-size="18" font-family=inherit font-weight="800" letter-spacing="2px" fill="black">
                    <textPath href="#textPath" startOffset="50%" text-anchor="middle">Marco Gollmer &nbsp; - &nbsp;
                        Frontendentwickler &nbsp; - &nbsp;</textPath>
                </text>
                <!-- Logo in der Mitte -->
                <g transform="translate(35,30)">
                    <svg width="130" height="130" viewBox="0 0 130 130" xmlns="http://www.w3.org/2000/svg">
                        <rect x="17%" y="18%" width="62%" height="71%" fill="rgba(0, 0, 0, 0.2)" rx="5" ry="5" />

                        <rect x="20%" y="20%" width="15%" height="15%" fill="#f7c518" />
                        <rect x="40%" y="20%" width="18%" height="12%" fill="#3355ff" />
                        <rect x="60%" y="20%" width="12%" height="18%" fill="#f87a55" />
                        <rect x="20%" y="50%" width="12%" height="18%" fill="#3355ff" />
                        <rect x="40%" y="50%" width="15%" height="15%" fill="#f87a55" />
                        <rect x="60%" y="50%" width="18%" height="12%" fill="#f7c518" />
                        <rect x="20%" y="70%" width="18%" height="12%" fill="#f87a55" />
                        <rect x="40%" y="70%" width="12%" height="18%" fill="#f7c518" />
                        <rect x="60%" y="70%" width="15%" height="15%" fill="#3355ff" />
                        <defs>
                            <filter id="f1" x="-50%" y="-50%" width="200%" height="200%">
                                <feDropShadow dx="5" dy="5" stdDeviation="1" flood-color="black" />
                            </filter>
                        </defs>
                        <text x="50%" y="55%" font-size="40" text-anchor="middle" alignment-baseline="middle"
                            fill="white" font-family="Kalam" font-weight="700" letter-spacing="2px"
                            filter="url(#f1)">MG</text>
                    </svg>
                </g>
            </svg>
        </div>
        <div class="contactMeIntroductionContainer">
            <div class="h2Container">
                <p class="introductionText">CONTACT ME</p>
                <h2 [innerHTML]="'contactMeSection.h2' | translate"></h2>
            </div>
            <p [innerHTML]="'contactMeSection.contactMeText' | translate"></p>
        </div>
        <div class="contactMeFormContainer">
            <div class="" [ngClass]="isConfirmed? 'confirmationContainer':'d_none'">
                <img src="./assets/images/thumb_up.png" alt="Thump up image">
                <p [innerHTML]="'contactMeSection.confirmMessage' | translate"></p>
            </div>
            <form id="myForm" class="contactMeForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm"
                autocomplete="off">
                <fieldset class="inputContainer">
                    <div class="errorMessageContainer">
                        @if (!name.valid && name.touched) {
                        <p class="errorMessage">{{ 'contactMeSection.errorTextName' | translate}}</p>
                        }
                    </div>
                    <input #name="ngModel" [(ngModel)]="contactData.name" class="contactMeForm__input" type="text"
                        id="name" name="name" placeholder="{{ 'contactMeSection.placeholderName' | translate}}"
                        required>
                    <label class="contactMeForm__label" for="name"
                        [ngClass]="{'clrError': !name.valid && name.touched}">{{ 'contactMeSection.labelName' |
                        translate}}</label>
                </fieldset>

                <fieldset class="inputContainer">
                    <div class="errorMessageContainer">
                        @if (!email.valid && email.touched) {
                        <p class="errorMessage">{{ 'contactMeSection.errorTextEmail' | translate}}</p>
                        }
                    </div>
                    <input #email="ngModel" [(ngModel)]="contactData.email" class="contactMeForm__input" type="text"
                        id="email" name="email" placeholder="{{ 'contactMeSection.placeholderEmail' | translate}}"
                        required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    <label class="contactMeForm__label" for="email"
                        [ngClass]="{'clrError': !email.valid && email.touched}">{{ 'contactMeSection.labelEmail' |
                        translate}}</label>
                </fieldset>

                <fieldset class="inputContainer">
                    <div class="errorMessageContainer">
                        @if (!message.valid && message.touched) {
                        <p class="errorMessage">{{ 'contactMeSection.errorTextMessage' | translate}}</p>
                        }
                    </div>
                    <input #message="ngModel" [(ngModel)]="contactData.message" class="contactMeForm__input" type="text"
                        id="message" name="message" placeholder="{{ 'contactMeSection.errorTextMessage' | translate}}"
                        required>
                    <label class="contactMeForm__label" for="message"
                        [ngClass]="{'clrError': !message.valid && message.touched}">{{ 'contactMeSection.labelMessage' |
                        translate}}</label>
                </fieldset>
                <div class="confirmContainer">
                    <div class="privacyPolicyContainer">
                        <div class="privacyPolicyContainer__imgAndText">
                            <div class="privacyPolicyContainer__img" (click)="toggleAcceptanceOfPrivacyPolicy()">
                                <img src={{imgPrivacyPolicy}} alt="Confirm Checkbox">
                            </div>
                            <p>{{ 'contactMeSection.privacyPolicyPart1' | translate}} <a id='linkPrivacyPolicy'
                                    routerLink="privacyPolicy">{{ 'contactMeSection.privacyPolicyLinkText' |
                                    translate}}</a>
                                {{ 'contactMeSection.privacyPolicyPart2' | translate}}</p>
                        </div>
                        @if (!isAcceptedPrivacyPolicy && isHintNecessary) {
                        <p class="hintAcceptance"> {{ 'contactMeSection.errorPrivacyPolicy' | translate}}</p>
                        }
                    </div>
                    <div class="btnContainer">
                        <button id="sendBtn" class="btnDefault" type="submit" value="Send"
                            [disabled]="!isAcceptedPrivacyPolicy">{{ 'contactMeSection.sendBtn' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
        <div appIncreaseWidthRepeat class="fadeInLeftRightContainer">
            <img id="fadeInImageProjects" src="./assets/images/00_Hand-drawn lines/05_Contact/Color option 1.png"
                alt="Underline">
        </div>
    </div>
</section>