<section id="contactMeSection">
    <div id="contactMeSectionContent" class="contentLimit">
        <div class="contactMeIntroductionContainer">
            <div class="h2Container">
                <p class="introductionText">CONTACT ME</p>
                <h2>Ready to work<br> together?</h2>
            </div>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.<br>
                Feel free to get in touch with your project details. I'd love the opportunity to help create a website
                that meets your needs!</p>
            <div appIncreaseWidthRepeat class="fadeInLeftRightContainer">
                <img id="fadeInImageProjects" src="./assets/images/00_Hand-drawn lines/05_Contact/Color option 1.png"
                    alt="Underline">
            </div>
        </div>
        <div class="contactMeFormContainer">
            <form id="myForm" class="contactMeForm" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm"
                autocomplete="off">
                <fieldset class="inputContainer">
                    <div class="errorMessageContainer">
                        @if (!name.valid && name.touched) {
                        <p class="errorMessage">Oops! It seems your name is missing?</p>
                        }
                    </div>
                    <input #name="ngModel" [(ngModel)]="contactData.name" class="contactMeForm__input" type="text"
                        id="name" name="name" placeholder="Your name goes here" required>
                    <label class="contactMeForm__label" for="name">What's your Name?</label>
                </fieldset>

                <fieldset class="inputContainer">
                    <div class="errorMessageContainer">
                        @if (!email.valid && email.touched) {
                        <p class="errorMessage">Hoppla! your email is required</p>
                        }
                    </div>
                    <input #email="ngModel" [(ngModel)]="contactData.email" class="contactMeForm__input" type="text"
                        id="email" name="email" placeholder="yourmail@email.com" required
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    <label class="contactMeForm__label" for="email">What's your email?</label>
                </fieldset>

                <fieldset class="inputContainer">
                    <div class="errorMessageContainer">
                        @if (!message.valid && message.touched) {
                        <p class="errorMessage">What do you need to develop?</p>
                        }
                    </div>
                    <input #message="ngModel" [(ngModel)]="contactData.message" class="contactMeForm__input" type="text"
                        id="message" name="message" placeholder="Hello Marco, I am interested in.." required>
                    <label class="contactMeForm__label" for="message">How can I help you?</label>
                </fieldset>

                <div class="confirmContainer">
                    <div class="privacyPolicyContainer">
                        <div class="privacyPolicyContainer__imgAndText">
                            <div class="privacyPolicyContainer__img" (click)="toggleAcceptanceOfPrivacyPolicy()">
                                <img src={{imgPrivacyPolicy}} alt="Confirm Checkbox">
                            </div>
                            <p>I've read the <a id="linkPrivacyPolicy" href="#">privacy policy</a> and agree to the
                                processing of my data as
                                outlined.</p>
                        </div>
                        @if (!isAcceptedPrivacyPolicy && isHintNecessary) {
                        <p class="hintAcceptance">Please accept the privacy policy</p>
                        }
                    </div>
                    <button id="sendBtn" class="btnDefault" type="submit" value="Send"
                        [disabled]="!isAcceptedPrivacyPolicy">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>