@import './../../../styles.scss';

#contactMeSection {
    @include setFlex($ai: flex-start);
    padding-top: 256px;
    background-image: url('./../../../assets/images/01_Background/all/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $clrBaseBright;
    min-height: 800px;
    margin-top: 256px;
}

#contactMeSectionContent {
    position: relative;
    @include setFlex($ai: flex-start, $gap: 64px);
    width: 100%;
    padding-bottom: 300px;
}

.contactMeIntroductionContainer {
    @include setFlex($fd: column, $ai: flex-start, $gap: 48px);
    width: 50%;
}

.fadeInLeftRightContainer {
    position: absolute;
    left: 350px;
    bottom: 300px;
    width: 260px;
    overflow: hidden;
}

#fadeInImageProjects {
    width: 260px;
}

.contactMeFormContainer {
    position: relative;
    width: 50%;
}

.contactMeForm {
    @include setFlex($fd: column, $ai: flex-start);
}

.inputContainer {
    @include setFlex($fd: column-reverse, $ai: flex-start, $gap: 2px);
    width: 100%;
}

fieldset {
    border-top: 1px solid transparent;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $clrHighlight1;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 24px;

    &:hover {
        border-top: 1px solid $clrHighlight2;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $clrHighlight2;

        .contactMeForm__label {
            color: $clrHighlight3;
        }
    }

    &:focus-within {
        .contactMeForm__label {
            color: $clrHighlight2;
        }
    }
}


.contactMeForm__label {
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
}

.contactMeForm__input {
    cursor: pointer;
    color: $clrBaseBright;
    width: 100%;
    margin-top: 10px;
}

#sendBtn {
    margin-top: 8px;
    align-self: flex-end;
}

.errorMessageContainer {
    height: 14px;
    margin-bottom: 8px;
}

.errorMessage {
    color: $clrErrorMessage;
    font-size: $fSTer;
}

.confirmContainer {
    width: 100%;
    margin-top: 32px;
    @include setFlex($fd: column, $ai: flex-start)
}

.privacyPolicyContainer {
    @include setFlex($fd: column, $jc: flex-start, $ai: flex-start, $gap: 8px);
    height: 50px;
}

.privacyPolicyContainer__imgAndText {
    @include setFlex($gap: 8px);
    font-size: 15px;
}

.privacyPolicyContainer__img {
    @include setFlex();
    border-radius: 3px;

    &:hover {
        background-color: $clrHighlight2Transparent;
    }
}

#linkPrivacyPolicy {
    cursor: pointer;
    color: $clrHighlight2;

    &:hover {
        color: $clrHighlight1;
    }
}

.hintAcceptance {
    color: $clrHighlight3;
    font-size: 14px;
}

.sealContainer {
    position: absolute;
    top: -120px;
    right: 20px;
    width: 170px;
    z-index: 2;
    transform: rotate(15deg);
}

.clrError {
    color: $clrHighlight3;
}