@import './../../../../src/styles.scss';

#contactMeSection {
    @include setFlex($ai: flex-start);
    padding-top: 256px;
    background-image: url('./../../../assets/images/01_Background/all/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $clrBaseBright;
    min-height: 800px;
    margin-top: 256px;
}

#contactMeSectionContent {
    @include setFlex($ai: flex-start, $gap: 64px);
    width: 100%;
}

.contactMeIntroductionContainer {
    @include setFlex($fd: column, $ai: flex-start, $gap: 48px);
    width: 50%;
}

.fadeInLeftRightContainer {
    margin-left: 50%;
    width: 260px;
    overflow: hidden;
}

#fadeInImageProjects {
    width: 260px;
}

.contactMeFormContainer {
    width: 50%;
}

.contactMeForm {
    @include setFlex($fd: column, $ai: flex-start);
}

.inputContainer {
    @include setFlex($fd: column-reverse, $ai: flex-start, $gap: 10px);
    width: 100%;
}



fieldset {
    border-top: 1px solid transparent;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $clrHighlight1;
    padding: 16px 24px;

    &:hover {
        border-top: 1px solid $clrHighlight2;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $clrHighlight2;

        .contactMeForm__label {
            color: $clrHighlight3;
        }
    }

    &:focus-within {
        .contactMeForm__label {
            color: $clrHighlight2;
        }
    }
}


.contactMeForm__label {
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
}

.contactMeForm__input {
    cursor: pointer;
    color: $clrBaseBright;
    width: 100%;

    &:user-invalid {
        color: $clrErrorMessage;
    }

    &:user-invalid~label {
        color: red;
    }
}



#sendBtn {
    margin-top: 32px;
    align-self: flex-end;
}

.errorMessage {
    color: $clrErrorMessage;
    font-size: $fSSec;
}