<section id="privacyPolicySection">
    <app-header></app-header>
    <div id="privacyPolicySectionContent" class="contentLimit">
        <h2>Privacy Policy</h2>
        <div class="privacyPolicyText">
            <div class="privacyPolicyTextPart">
                <p>Effective Date: 01.01.2025</p>
                <p>
                    Thank you for visiting my portfolio website. Protecting your personal data is very important to me.
                    This
                    Privacy Policy outlines how your information is handled when you use this website.
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>1. Who is Responsible for Data Processing?
                </h3>
                <p>The data controller for this website is:<br><br>
                    Name: Marco Gollmer<br>
                    Email: <a href="mailto:Marco.Gollmer&#64;outlook.de">Marco.Gollmer&#64;outlook.de</a><br><br>
                    If you have any questions regarding this Privacy Policy, please feel free to contact me via email.
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>2. What Data is Collected?
                </h3>
                <p>This website does not collect or store any personal data.
                    If you contact me via email, I will process the information you provide, such as:
                </p>
                <ul>
                    <li>Your name</li>
                    <li>Your email address</li>
                    <li>The content of your message</li>
                </ul>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>3. Purpose of Data Handling
                </h3>
                <p>The information you provide via email is used solely for responding to your inquiries.
                    I do not use your data for marketing purposes or share it with third parties.
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>4. Legal Basis for Data Processing
                </h3>
                <p>The processing of your personal data is based on the following legal grounds:<br>
                    Consent: By contacting me via email, you consent to the processing of the data you provide.
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>5. How is Your Data Protected?</h3>
                <p>I take appropriate technical and organizational measures to protect your personal data from
                    unauthorized
                    access, loss,
                    or misuse. However, no method of data transmission or storage is completely secure, and I cannot
                    guarantee absolute
                    security.
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>6. Data Retention</h3>
                <p>I do not store any data on this website. Email inquiries will be deleted once they are no longer
                    needed.
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>7. Your Rights</h3>
                <p>
                    You have the following rights concerning your personal data:
                </p>
                <ul>
                    <li><b>Right to Access: </b> You can request information about the data I hold about you.
                    </li>
                    <li><b>Right to Rectification:</b> You can request that incorrect or incomplete data be corrected.
                    </li>
                    <li><b>Right to Erasure:</b> You can request the deletion of your data, provided there are no legal
                        obligations to retain it.
                    </li>
                    <li><b>Right to Restrict Processing:</b> You can request that the processing of your data be
                        limited.
                    </li>
                    <li><b>Right to Object:</b> You can object to the processing of your data in certain circumstances.
                    </li>
                </ul>
                <p>To exercise these rights, please contact me using the email address provided above.</p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>8. Cookies and Tracking
                </h3>
                <p>This website does not use cookies or tracking technologies.
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>9. Third-Party Services
                </h3>
                <p>
                    This website does not use third-party services that process personal data (e.g., analytics tools,
                    embedded social media
                    plugins, etc.).</p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>
                    10. Changes to this Privacy Policy
                </h3>


                <p>I reserve the right to update this Privacy Policy as needed. Any changes will be published on this
                    page
                    with an updated
                    effective date.

                    Thank you for visiting my website. If you have any questions about this Privacy Policy, please do
                    not
                    hesitate to reach
                    out.</p>
            </div>
        </div>
        <a id="aBackPrivacyPolicy" href="#contactMeSection" class="cta abtn">Back</a>
    </div>
</section>