<section id="privacyPolicySection">
    <div id="privacyPolicySectionContent" class="contentLimit">
        <h2>{{ 'privacyPolicy.h2' | translate}}</h2>
        <div class="privacyPolicyText">
            <div class="privacyPolicyTextPart">
                <p>{{ 'privacyPolicy.effectiveDate' | translate}}</p>
                <p>
                    {{ 'privacyPolicy.introductionText' | translate}}
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>{{ 'privacyPolicy.h3_ResponsibleforDataProcessing' | translate}}
                </h3>
                <p [innerHTML]="'privacyPolicy.text_ResponsibleforDataProcessing' | translate"> </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>{{ 'privacyPolicy.h3_WhichDataCollected' | translate}}
                </h3>
                <p>{{ 'privacyPolicy.text_WhichDataCollected' | translate}}
                </p>
                <ul [innerHTML]="'privacyPolicy.Data_WhichDataCollected' | translate">

                </ul>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>{{ 'privacyPolicy.h3_DataHandling' | translate}}
                </h3>
                <p>{{ 'privacyPolicy.text_DataHandling' | translate}}
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>{{ 'privacyPolicy.h3_LegalBasisForDataProcessing' | translate}}
                </h3>
                <p [innerHTML]="'privacyPolicy.text_LegalBasisForDataProcessing' | translate">
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>{{ 'privacyPolicy.h3_DataProtected' | translate}}</h3>
                <p>{{ 'privacyPolicy.text_DataProtected' | translate}}
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>{{ 'privacyPolicy.h3_DataRetention' | translate}}</h3>
                <p>{{ 'privacyPolicy.text_DataRetention' | translate}}
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>{{ 'privacyPolicy.h3_YourRights' | translate}}</h3>
                <p>
                    {{ 'privacyPolicy.text_YourRights' | translate}}
                </p>
                <ul [innerHTML]="'privacyPolicy.listItems_YourRights' | translate">
                </ul>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>{{ 'privacyPolicy.h3_CookiesTracking' | translate}}
                </h3>
                <p>{{ 'privacyPolicy.text_CookiesTracking' | translate}}
                </p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>{{ 'privacyPolicy.h3_ThirdPartyServices' | translate}}
                </h3>
                <p>
                    {{ 'privacyPolicy.text_ThirdPartyServices' | translate}}</p>
            </div>
            <div class="privacyPolicyTextPart">
                <h3>
                    {{ 'privacyPolicy.h3_ChangesToThisPrivacyPolicy' | translate}}
                </h3>


                <p>{{ 'privacyPolicy.text_ChangesToThisPrivacyPolicy' | translate}}</p>
            </div>
        </div>
        <div class="btnContainer">
            <a id="aBackPrivacyPolicy" href="#contactMeSection" class="btnBlack abtn">{{ 'privacyPolicy.backBtn' |
                translate}}</a>
        </div>
    </div>
</section>