@import './../../styles.scss';

#impressumSection {
    height: 100vh;
    @include setFlex($ai: flex-start);
    background-image: url('./../../../src/assets/images/01_Background/all/isolatedPaperRips.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 150px;
    background-color: white;
}

#impressumSectionContent {
    position: relative;
    @include setFlex($fd: column, $ai: center, $gap: 48px);
    padding-bottom: 100px;
    color: $clrBaseBright;
}

.impressumText {
    font-family: inherit;
    font-size: $fSDefault;
}

#aBackLegal {
    position: absolute;
    right: 0;
    bottom: 0;
}

.btnContainer {
    position: relative;
    height: 55px;
    width: 100px;
}

.emailLink {
    color: $clrHighlight2;
}