<section id="impressumSection">
    <div id="impressumSectionContent" class="contentLimit">
        <h2>{{ 'legal.h2' | translate}}</h2>
        <p class="impressumText">
            Marco Gollmer<br><br>
            <i>Frontend Developer</i><br><br>
            Friedensstraße 21<br>
            01097 Dresden<br><br>
            Email: <a class="emailLink" title="kontakt@marcogollmer.de"
                href="mailto:kontakt@marcogollmer.de">kontakt&#64;marcogollmer.de</a>
        </p>
        <div class="btnContainer">
            <a id="aBackLegal" href="" class="btnDefault abtn">{{ 'legal.backBtn' | translate}}</a>
        </div>
    </div>
</section>