<section id="heroSection">
    <div id="heroSectionContent" class="contentLimit">
        <div class="heroMainArea">
            <div class="heroMainArea__start">
                <p class="helloWorld">Hello wolrd</p>
                <p>
                    <span class="heroLetter">F</span>
                    <span class="heroLetter">r</span>
                    <span class="heroLetter">o</span>
                    <span class="heroLetter">n</span>
                    <span class="heroLetter">t</span>
                    <span class="heroLetter">e</span>
                    <span class="heroLetter">n</span>
                    <span class="heroLetter">d</span>
                </p>
            </div>
            <div class="heroMainArea__end">
                <p>
                    <span class="heroLetter">D</span>
                    <span class="heroLetter">E</span>
                    <span class="heroLetter">V</span>
                    <span class="heroLetter">E</span>
                    <span class="heroLetter">L</span>
                    <span class="heroLetter">O</span>
                    <span class="heroLetter">P</span>
                    <span class="heroLetter">E</span>
                    <span class="heroLetter">R</span>
                </p>
                <button class="btnDefault">Get in Touch</button>
            </div>
        </div>
    </div>
</section>