@import './../../../../styles.scss';

/*==================================================================================================== 
    Tablet
==================================================================================================== */
@media (min-width: 768px) and (max-width: 1023px) {}

/*==================================================================================================== 
    MOBILE L
==================================================================================================== */
@media (max-width: 767px) {
    .projectContainer {
        gap: 24px;
        height: 470px;
    }

    .projectImg {
        height: 345px;
    }

    .imageContainer {
        &::after {
            width: 0%;
            height: 0%;
        }

        &:hover::after {
            opacity: 0;
        }
    }

    .btnContainer {
        display: flex;
    }
}

/*==================================================================================================== 
    MOBILE M
==================================================================================================== */
@media (max-width: 424px) {
    .projectImg {
        height: 245px;
    }
}

/*==================================================================================================== 
    MOBILE S
==================================================================================================== */
@media (max-width: 374px) {
    .liveBtnUnderImage {
        font-size: 14px;
    }

    .detailsBtnUnderImage {
        font-size: 14px;
    }
}