@import './../../../../../src/styles.scss';

.projectContainer {
    @include setFlex($fd: column, $gap: 16px, $ai: flex-start);
    width: 100%;
    max-width: 560px;
    height: 550px;
}

.projectImg {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        opacity: 0;
        transition: $stdTransition;
    }

    &:hover::after {
        opacity: 1;
    }
}

.projectImg {
    transition: $stdTransition;

}

.cta {
    position: absolute;
    bottom: 30px;
    right: 220px;
    z-index: 1;
}

.btnDefault {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}