@import './../../../../styles.scss';

@media (max-width: 1023px) {

    .projectContainer {
        gap: 24px;
        height: auto;
    }

    .projectImg {
        height: auto;
    }

    .imageContainer {
        &::after {
            width: 0%;
            height: 0%;
        }

        &:hover::after {
            opacity: 0;
        }
    }

    .btnContainer {
        display: flex;
    }

    @media (max-width: 600px) {
        .sealContainer {
            top: 20%;
        }
    }

    @media (max-width: 400px) {
        .sealContainer {
            width: 100px;
            height: 100px;
            top: 10%;
        }
    }
}



/*==================================================================================================== 
    MOBILE S
==================================================================================================== */
@media (max-width: 374px) {
    .liveBtnUnderImage {
        font-size: 14px;
    }

    .detailsBtnUnderImage {
        font-size: 14px;
    }
}