@import './../../../../styles.scss';

.projectContainer {
    position: relative;
    @include setFlex($fd: column, $gap: 16px, $jc: flex-start, $ai: flex-start);
    max-width: 560px;
}

.projectImg {
    width: 100%;
    height: 400px;
    min-height: 2600px;
    object-fit: cover;
    border-radius: 20px;
    transition: $stdTransition;

}

.imageContainer {
    position: relative;
    overflow: hidden;
    border-radius: 20px;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        opacity: 0;
        transition: $stdTransition;
    }

    &:hover::after {
        opacity: 1;
    }
}

.sealContainer {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 30%;
    left: 0;
    z-index: 1;

    >img {
        width: 100%;
        height: 100%;
    }
}

.liveBtnInImage {
    position: absolute;
    bottom: 30px;
    right: 220px;
    z-index: 1;
}

.detailsBtnInImage {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

.btnContainer {
    align-self: stretch;
    @include setFlex($jc: flex-end, $gap: 8px);
    display: none;
}

.animatedIMG {
    animation: moveUpDownInfinite 5s ease-in-out infinite;
    object-fit: contain;
}

@keyframes moveUpDownInfinite {
    0% {
        transform: translateY(0px);
    }



    50% {
        transform: translateY(-30px);

    }



    100% {
        transform: translateY(0px);
    }
}