@import './../../../styles.scss';

#skillSection {
    height: 800px;
    background-image: url('./../../../assets/images/01_Background/all/skillsBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    @include setFlex($ai: flex-start);
    padding-top: 152px;
}

#skillSectionContent {
    position: relative;
    @include setFlex($ai: flex-start, $gap: 48px);
}

.headerContainer {
    color: $clrBaseBright;
    @include setFlex($fd: column, $jc: flex-start, $ai: flex-end);
}

.h2Container {
    position: relative;
    width: 270px;
    z-index: 1;
}

.h2Container>h2 {
    text-align: end;
    padding-right: 8px;
}


.fadeInCircleContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    z-index: -1;
    overflow: hidden;
}

#fadeInImageSkill {
    width: 270px;
    height: auto;
}

.skillsOverallContainer {
    @include setFlex($fd: column, $gap: 32px);
    width: 700px;
}

.skillsIntroductionContainer {
    background-image: url('./../../../assets/images/02_Ripped Paper/1.Skills description.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include setFlex();
    padding: 32px
}

.skillsContainer {
    @include setFlex($jc: flex-start, $gap: 40px);
    flex-wrap: wrap;
    color: $clrBaseBright;
}

.skillContainer {
    width: 96px;
    height: 98px;
    @include setFlex($fd: column);
}

.skillContainer>img {
    filter: grayscale(100%);
    transition: $stdTransition;

    &:hover {
        filter: grayscale(0%);
        transform: scale(0.9);
    }
}

.interestsContainer {
    align-self: flex-end;
    @include setFlex();
    color: $clrBaseBright;
    position: relative;
    width: 250px;
}

.interestContainer {
    @include setFlex($fd: column);
    transform: rotate(8deg);
    width: 200px;
    height: 200px;
    position: absolute;
    top: -200px;
}


#interestBefore {
    font-family: 'Kalam', Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    z-index: 3;
}

#interestTransition {
    z-index: 2;
}

#interestAfter {
    z-index: 1;
}

#imgInterest1 {

    z-index: -1;
}

#imgInterest3 {
    z-index: -1;
}

.imgInterest {
    position: absolute;
    width: 200px;
    height: 200px;
}

#interestAfter>p {
    text-align: center;
    padding: 8px
}

.interestTechniques {
    @include setFlex($gap: 8px);
}

.interestTechnique {
    @include setFlex($fd: column);
}

.interestTechnique>img {
    width: 40px;
    height: 40px;
}

.hideslowly {
    animation: aHideslowly 200ms ease-in forwards;
}

/* The animation code */
@keyframes aHideslowly {
    0% {
        opacity: 1;

    }

    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }
}