<section id="aboutMeSection">
    <div id="aboutMeSectionContent" class="contentLimit">
        <div class="imagesContainer">
            <div id="stripeYellow" class="imgContainer">
                <img class="imageStripe" src="./assets/images/02_Ripped Paper/Option 1/yellow.png"
                    alt="yellow ripped paper">
                <div class="textStripeContainer">
                    <img class="iconStripe" src="./assets/images/04_Icons/stateLocation.svg" alt="Location Icon">
                    <p class="textStripe">Based in Dresden</p>
                </div>
            </div>
            <div id="stripeBlue" class="imgContainer">
                <img class="imageStripe" src="./assets/images/02_Ripped Paper/Option 1/blue.png"
                    alt="blue ripped paper">
                <div class="textStripeContainer">
                    <img class="iconStripe" src="./assets/images/04_Icons/stateLocation.svg" alt="Location Icon">
                    <p class="textStripe">Based in Dresden</p>
                </div>
            </div>
            <div id="stripeOrange" class="imgContainer">
                <img class="imageStripe" src="./assets/images/02_Ripped Paper/Option 1/orange.png"
                    alt="orange ripped paper">
                <div class="textStripeContainer">
                    <img class="iconStripe" src="./assets/images/04_Icons/stateLocation.svg" alt="Location Icon">
                    <p class="textStripe">Based in Dresden</p>
                </div>
            </div>
        </div>
        <div class="textContainer">
            <div class="h2Container">
                <div class="introductionText">WHO'S MARCO?</div>
                <img id="fadeInImage" src="./assets/images/00_Hand-drawn lines/01_About me/Color option 1.png"
                    alt="Underline">
                <h2>About me</h2>
            </div>
            <p>Hi there! I'm Marco, a frontend developer passionate about creating intuitive and efficient digital
                experiences. With a natural problem-solving mindset and a keen eye for detail, I specialize in
                transforming complex concepts into visually appealing and functional web solutions.<br><br>
                Let’s collaborate and build something remarkable together!
            </p>
            <div class="btnContainer">
                <button class="btnBlack">Let's talk</button>
            </div>
        </div>
    </div>
</section>