<section id="aboutMeSection">
    <div id="aboutMeSectionContent" class="contentLimit">
        <div class="imagesContainer">
            <div id="stripeYellow" class="imgContainer">
                <img class="imageStripe" src="./assets/images/02_Ripped Paper/Option 1/yellow.png"
                    alt="yellow ripped paper">
                <div class="textStripeContainer">
                    <img class="iconStripe" src="./assets/images/04_Icons/stateLocation.svg" alt="Location Icon">
                    <p class="textStripe">{{ 'aboutMeSection.yellowStripeText' | translate}}</p>
                </div>
            </div>
            <div id="stripeBlue" class="imgContainer">
                <img class="imageStripe" src="./assets/images/02_Ripped Paper/Option 1/blue.png"
                    alt="blue ripped paper">
                <div class="textStripeContainer">
                    <img class="iconStripe" src="./assets/images/04_Icons/team.svg" alt="Location Icon">
                    <p class="textStripe">{{ 'aboutMeSection.blueStripeText' | translate}}</p>
                </div>
            </div>
            <div id="stripeOrange" class="imgContainer">
                <img class="imageStripe" src="./assets/images/02_Ripped Paper/Option 1/orange.png"
                    alt="orange ripped paper">
                <div class="textStripeContainer">
                    <img class="iconStripe" src="./assets/images/04_Icons/statusRemote.svg" alt="Location Icon">
                    <p class="textStripe">{{ 'aboutMeSection.orangeStripeText' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="textContainer">
            <div class="h2Container">
                <p class="introductionText">{{ 'aboutMeSection.introductionText' | translate}}</p>
                <h2>{{ 'aboutMeSection.h2' | translate}}</h2>
                <div appIncreaseWidthRepeat class="fadeInLeftRightContainer">
                    <img id="fadeInImageAboutMe"
                        src="./assets/images/00_Hand-drawn lines/01_About me/Color option 1.png" alt="Underline">
                </div>
            </div>
            <p [innerHTML]="'aboutMeSection.aboutMeText' | translate"></p>
            <div class="btnContainer">
                <a href="#contactMeSection" class="btnBlack abtn">{{'aboutMeSection.btnText' | translate}}</a>
            </div>
        </div>
    </div>
</section>