@import './../../../../src/styles.scss';

#aboutMeSection {
    @include setFlex();
}

#aboutMeSectionContent {
    position: relative;
    @include setFlex();
    height: 720px;
}

.imagesContainer {
    position: relative;
    height: 100%;
    width: 50%;
    @include setFlex($jc: flex-start);
}

.imgContainer {
    position: relative;
    @include setFlex();
}

#stripeYellow {
    position: absolute;
    top: 25%;
    z-index: 3;
    transform: rotate(-4deg);
}

#stripeBlue {
    position: absolute;
    top: 40%;
    z-index: 2;
}

#stripeOrange {
    position: absolute;
    top: 55%;
    z-index: 1;
    transform: rotate(4deg);
}


.textStripeContainer {
    color: $clrBaseBright;
    @include setFlex($gap: 8px);
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
}

.imageStripe {
    width: 560px
}

.textContainer {
    @include setFlex($fd: column, $jc: flex-start, $ai: flex-start, $gap: 64px);
    width: 50%;
}

.introductionText {
    font-weight: 500;
}

.btnContainer {
    height: 70px;
    width: 100%;
    @include setFlex($jc: flex-end);
}



.fadeInLeftRightContainer {
    width: 320px;
    overflow: hidden;
}

#fadeInImageAboutMe {
    width: 320px
}