@import './../../styles.scss';

/*==================================================================================================== 
    Tablet
==================================================================================================== */
@media (min-width: 768px) and (max-width: 1023px) {}

/*==================================================================================================== 
    MOBILE L
==================================================================================================== */
@media (min-width: 425px) and (max-width: 767px) {}

/*==================================================================================================== 
    MOBILE M
==================================================================================================== */
@media (min-width: 375px) and (max-width: 424px) {}

/*==================================================================================================== 
    MOBILE S
==================================================================================================== */
@media (max-width: 374px) {

    #detailsSection {
        height: auto;
        min-height: 100vh;
        background-image: url('./../../assets/images/01_Background/all/noteBbook\ Paper_rotated.png');
        background-position: center;
    }

    #detailsSectionContent {
        position: relative;
        gap: 24px
    }

    .goBackContainer {
        position: absolute;
        bottom: 0;
        left: 0;

        a {
            color: $clrBaseBright;
        }
    }

    .goNextContainer {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}