/* You can add global styles to this file, and also import other style files */
@import './styles/fonts';
@import './styles/mixin';
@import './styles/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Bricolage Grotesque', Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.contentLimit {
    width: 100%;
    min-width: 300px;
    max-width: 1440px;
}