<section id="feedbackSection">
    <div id="feedbackSectionContent" class="contentLimit">
        <div class="feedbackHeadlineContainer">
            <div class="introductionContainer">
                <div class="fadeInRightLeftContainer">
                    <img id="fadeInImageFeedback"
                        src="./assets/images/00_Hand-drawn lines/04_Testimonials/Color option 1.png" alt="Underline">
                </div>
                <p class="introductionText">IN THEIR WORDS</p>
            </div>
            <h2>Colleagues' Thoughts</h2>
        </div>
        <div class="feedbacksContainer">
            <div id="feedback1" class="feedbackContainer">
                <p class="feedbackText">Karl really kept the team together with his great organization and clear
                    communication. We wouldn't have got this far without his commitment.</p>
                <div class="feedbackFrom">
                    <div class="feefbackFrom__Name">
                        <p>1. Tobias Lange</p>
                        <p>Frontend Developer</p>
                    </div>
                    <div class="feefbackFrom__Profile">
                        <img src="" alt="">
                        <p>Profile</p>
                    </div>
                </div>
            </div>
            <div id="feedback2" class="feedbackContainer">
                <p class="feedbackText">Karl really kept the team together with his great organization and clear
                    communication. We wouldn't have got this far without his commitment.</p>
                <div class="feedbackFrom">
                    <div class="feefbackFrom__Name">
                        <p>2. Tobias Lange</p>
                        <p>Frontend Developer</p>
                    </div>
                    <div class="feefbackFrom__Profile">
                        <img src="" alt="">
                        <p>Profile</p>
                    </div>
                </div>
            </div>
            <div id="feedback3" class="feedbackContainer">
                <p class="feedbackText">Karl really kept the team together with his great organization and clear
                    communication. We wouldn't have got this far without his commitment.</p>
                <div class="feedbackFrom">
                    <div class="feefbackFrom__Name">
                        <p>3. Tobias Lange</p>
                        <p>Frontend Developer</p>
                    </div>
                    <div class="feefbackFrom__Profile">
                        <img src="" alt="">
                        <p>Profile</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>