@import './../../../styles.scss';

/*==================================================================================================== 
    Tablet
==================================================================================================== */
@media (min-width: 768px) and (max-width: 1023px) {}

/*==================================================================================================== 
    MOBILE L
==================================================================================================== */
@media (max-width: 767px) {
    .feedbacksContainer {
        flex-direction: column;
        height: auto;

        .feedbackContainer {
            position: static;
            gap: 48px;
            width: 90%;
            height: auto;
        }        
    }
    .feedbackText {
        font-size: 16px;
    }
}