<section id="feedbackSection">
    <div id="feedbackSectionContent" class="contentLimit">
        <div class="feedbackHeadlineContainer">
            <div class="introductionContainer">
                <div class="fadeInRightLeftContainer">
                    <img id="fadeInImageFeedback"
                        src="./assets/images/00_Hand-drawn lines/04_Testimonials/Color option 1.png" alt="Underline">
                </div>
                <p class="introductionText">IN THEIR WORDS</p>
            </div>
            <h2>Colleagues' Thoughts</h2>
        </div>
        <div class="feedbacksContainer">
            <div class="feedbackContainer">Ich bin ein Feedback</div>
            <div class="feedbackContainer">Ich bin ein Feedback</div>
            <div class="feedbackContainer">Ich bin ein Feedback</div>
        </div>
    </div>
</section>